<div class="quiz-detail">
    <div class="instruction">
        Some instruction regarding quiz:
        <ul>
          <li>Total questions are {{totalQuestions}}</li>
          <li>You can see number plette to your right side</li>
          <li>Answered questions have green color</li>
          <li>Saved for read later questions have purpel color</li>
        </ul>
    </div>  
    <div class="row">
        <div class="col-8">
            <mat-tab-group (selectedTabChange)="onTabChange($event)" dynamicHeight>
                <mat-tab *ngFor="let questions of questionsByCategory" label="{{questions.catName}}" class="test">
                    <ng-template matTabContent>
                        <app-question-section   (submitQuiz)="onSubmitingQuiz($event)" (saveAndNext)="onSaveAndNextClick($event)" [displayQuestion]="displayQuestion" (markReview)="onMarkReviewClick($event)" (clearAnswer)="onClearClick($event)"></app-question-section>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col">
          <app-number-plate [questionsByCategory]="someValue" (navigateQues)="goToQuestion($event)" [displayQuestion]="displayQuestion"></app-number-plate>  
        </div>
    </div>
</div>