<div class="quiz-detail">
    <div class="instruction">
        Some instruction regarding quiz:
        <ul>
          <li>Total questions are 10</li>
          <li>You can see number plette to your left side</li>
          <li>Answered questions have green color</li>
          <li>Saved for remark question have purpel color</li>
        </ul>
    </div>  
    <div class="row">
        <div class="col-8">
            <question-section></question-section>
        </div>
        <div class="col">
          <number-plate></number-plate>  
        </div>
    </div>
</div>